<html>
  <head>
    <title>Space Wars</title>
    <script src="lib/angular.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/engine.io.js"></script>
    <script src="yasw.js"></script>
    <script src="services/game_server.js"></script>
    <script src="services/svg.js"></script>
    <script src="controllers/ship_command.js"></script>
    <script src="services/keyboard.js"></script>
    <script src="models/gamepad.js"></script>
    <script src="models/gamepad_state.js"></script>
    <script src="models/gamepad_settings.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="favicon.png"/>
  </head>
  <body style="background-color: #080808; margin: 0"
        ng-app="YASW" ng-controller="ShipCommandController"
        ng-keydown="onKeyDown($event);"
        ng-keyup="onKeyUp($event);">
    <svg width="100%" height="100%" ng-attr-view_box="0 0 {{field_size[0]}} {{field_size[1]}}" initial-focus>
      <rect width="100%" height="100%" style="fill:rgb(0,0,0);stroke-width:0;stroke:rgb(255,0,0)"/>
      <game-polygon ng-repeat="polygon in polygons()"/>
    </svg>
    <gamepad-editor ng-if="gamepad_editor_visible">
    </gamepad-editor>
  </body>
</html>
