#gamepad-editor {
    position: absolute;
    top: 50%;
    left: 50%;
	right: 50%;
    width: 800px; /* adjust as per your needs */
    height: 300px; /* adjust as per your needs */
    margin-left: -400px; /* negative half of width above */
    margin-top: -200px; /* negative half of height above */
    color: black;
    background: lightgrey;
    opacity: 50%;
	font-size: large;
	font-family: sans-serif;
}

#no-gamepads-text {
    margin-top: 50%;
    margin-bottom: 50%;
    text-align: center;
    vertical-align: middle;
}
