#gamepad-editor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px; /* adjust as per your needs */
    height: 400px; /* adjust as per your needs */
    margin-left: -200px; /* negative half of width above */
    margin-top: -200px; /* negative half of height above */
    color: blue;
    background: #e0e0e0;
    opacity: 0.8;
}

#no-gamepads-text {
    margin-top: 50%;
    margin-bottom: 50%;
    text-align: center;
    vertical-align: middle;
}

#gamepad-table {
    margin: 2%;
    width: 96%;
    border-collapse: collapse;
}

#gamepad-table th,td {
    border: 1px solid black;
    text-align: center;
}

#gamepad-title {
    text-align: center;
    font-family: sans-serif;
}

.selected-button-binding {
    background: white;
    color: black;
}
