#gamepad-editor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px; /* adjust as per your needs */
    height: 400px; /* adjust as per your needs */
    margin-left: -200px; /* negative half of width above */
    margin-top: -200px; /* negative half of height above */
    color: white;
    background:darkgrey;
    opacity: 50%;
}